a
{
  text-decoration: none
}

body
{
font-family: monospace;
}

.grid-container {
  border: none;
  display: grid;
  grid-template-columns: 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr 2.8fr;
  grid-template-rows: 0.5fr 0.2fr 2.3fr;
  grid-template-areas: "LOGO LOGO LOGO LOGO LOGO LOGO" "upload favorites recently my-files tags search" "Main Main Main Main Main Main";
}

.LOGO {
  border : none;
  text-align: center;
  background-color: 	#002333;
  width:100%;
  height: 250px;
  grid-area: LOGO; }

.upload {
  width:100%;
  background-color: #004666;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-rows: 1fr;
  grid-template-areas: "logo option";
  grid-area: upload;
}

.logo {

  height: 70%;
  text-align: right;
  grid-area: logo;
  position: relative;
  top: 15%;
  left:90%;
}

.option {
  position: relative;
  bottom: 5%;
  color:white;
  text-align: center;
  grid-area: option; }

.favorites {
  width:100%;
  background-color: #006999;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-rows: 1fr;
  grid-template-areas: "favlogo favoption";
   grid-area: favorites; }

   .favlogo {

     height: 70%;
     text-align: left;
     grid-area: logo;
     position: relative;
     top:15%;
     right:100%;

   }

   .favoption {
     position: relative;
     right: 50%;
     bottom: 5%;
     color:white;
     text-align: center;
     grid-area: option; }

.recently {
  width:100%;
  background-color: #004666;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-rows: 1fr;
  grid-template-areas: "reclogo recoption";
  grid-area: recently; }


     .reclogo {

       height: 70%;
       text-align: left;
       grid-area: logo;
       position: relative;
       top:15%;
       right:50%;

     }

     .recoption {
       position: relative;
       right: 17%;
       bottom: 5%;
       color:white;
       text-align: center;
       grid-area: option; }

.my-files {
  width:100%;
  background-color: #006999;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-rows: 1fr;
  grid-template-areas: "mylogo myoption";
   grid-area: my-files; }

   .mylogo {

     height: 70%;
     text-align: right;
     grid-area: logo;
     position: relative;
     top: 15%;
     right: 180%;
   }

   .myoption {
     position: relative;
     right: 70%;
     bottom: 5%;
     color:white;
     text-align: left;
     grid-area: option; }

.tags {
  width:100%;
  background-color: #004666;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-rows: 1fr;
  grid-template-areas: "tagslogo tagsoption";
  grid-area: tags; }

  .tagslogo {

    height: 70%;
    text-align: right;
    grid-area: logo;
    position: relative;
    top: 15%;
    right: 320%;;
  }

  .tagsoption {
    position: relative;
    right: 200%;
    bottom: 5%;
    color:white;
    text-align: center;
    grid-area: option; }

.search {
  background-color: #004666;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-rows: 1fr;
  grid-template-areas: "icon searchBar";
  grid-area: search;
}

.searchBar {
  grid-area: searchBar;
 }

 .searchBar input
 {
   left:5%;
   position: relative;
   top:18%;
   width:90%;
   height: 50%;
   border-radius: 20px;
   text-align: center;
 }

.icon {
  background-color: #006999;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-rows: 1fr;
  grid-template-areas: "username usericon";
  grid-area: icon; }

  .username {
    position: relative;
    right: 70%;
    bottom: 3%;
    color:white;
    text-align: center;
    grid-area: option;
  }

  .usericon {
    height: 70%;
    text-align: right;
    grid-area: logo;
    position: relative;
    top: 15%;
    right: 180%;
  }

.imag
{
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}


.Main { grid-area: Main; }
