h1
{
  font-family: monospace;
   text-decoration-style: solid;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #0082c8;
}

a
{
  text-decoration: none;
}

body
{
font-family: monospace;
margin: 0;
padding: 0;
}

.grid-container {
  font-family: monospace;
  display: grid;
  grid-template-columns: 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr 2.8fr;
  grid-template-rows: 0.5fr 0.2fr 2.3fr;
  grid-template-areas: "LOGO LOGO LOGO LOGO LOGO LOGO" "upload favorites recently my-files tags search" "Main Main Main Main Main Main";
}

.LOGO {
  text-align: center;
  background: rgb(0,122,178);
  background: linear-gradient(180deg, rgba(0,122,178,1) 0%, rgba(0,35,51,1) 78%);
  width:100%;
  height: 250px;
  grid-area: LOGO; }

.upload {
  height: 100%;
  width:100%;
  background-color: #004666;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-rows: 1fr;
  grid-template-areas: "logo option";
  grid-area: upload;
  padding-bottom: 1px;
}

.logo {

  height: 70%;
  text-align: right;
  grid-area: logo;
  position: relative;
  top: 15%;
  left: 50%;
}

.option {
  position: relative;
  bottom: 5%;
  color:white;
  text-align: center;
  grid-area: option; }

.favorites {
  height: 100%;
  width:100%;
  background-color: #006999;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-rows: 1fr;
  grid-template-areas: "favlogo favoption";
   grid-area: favorites; }

   .favlogo {

     height: 70%;
     text-align: left;
     grid-area: logo;
     position: relative;
     top:15%;
     right:60%;

   }

   .favoption {
     position: relative;
     bottom: 5%;
     right: 10%;
     color:white;
     text-align: center;
     grid-area: option; }

.recently {
  height: 100%;
  width:100%;
  background-color: #002333;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-rows: 1fr;
  grid-template-areas: "reclogo recoption";
  grid-area: recently; }


     .reclogo {

       height: 70%;
       text-align: left;
       grid-area: logo;
       position: relative;
       top:15%;
       right:80%

     }

     .recoption {
       position: relative;
       right: 30%;
       bottom: 5%;
       color:white;
       text-align: center;
       grid-area: option; }

.my-files {
  height: 100%;
  width:100%;
  background-color: #006999;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-rows: 1fr;
  grid-template-areas: "mylogo myoption";
   grid-area: my-files; }

   .mylogo {

     height: 70%;
     text-align: right;
     grid-area: logo;
     position: relative;
     top: 15%;
     right: 140%;
   }

   .myoption {
     position: relative;
     right: 30%;
     bottom: 5%;
     color:white;
     text-align: left;
     grid-area: option; }

.tags {
  height: 100%;
  width:100%;
  background-color: #004666;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-rows: 1fr;
  grid-template-areas: "tagslogo tagsoption";
  grid-area: tags; }

  .tagslogo {

    height: 70%;
    text-align: right;
    grid-area: logo;
    position: relative;
    top: 15%;
    right: 280%;;
  }

  .tagsoption {
    position: relative;
    right: 150%;
    bottom: 5%;
    color:white;
    text-align: center;
    grid-area: option; }

.search {
  background-color: #004666;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-rows: 1fr;
  grid-template-areas: "icon searchBar";
  grid-area: search;
}

.searchBar {
  grid-area: searchBar;
 }

 .searchBar input
 {

   font-family: monospace;
   background-color: #006999;
   color: white;
   border-width: 3px;
   border-style: solid;
   border-color: white;
   left:5%;
   position: relative;
   top:17%;
   width:90%;
   height: 50%;
   border-radius: 20px;
   text-align: center;
 }

.icon {
  background-color: #006999;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-rows: 1fr;
  grid-template-areas: "username usericon";
  grid-area: icon; }

  .username {
    position: relative;
    right: 30%;
    bottom: 3%;
    color:white;
    text-align: center;
    grid-area: option;
  }

  .usericon {
    height: 70%;
    text-align: right;
    grid-area: logo;
    position: relative;
    top: 15%;
    right: 140%;
  }

.imag
{
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}


.Main { grid-area: Main; }
